article.post {
    margin-top: em(51.200);
}

article.post:first-of-type {
    margin-top: 0;
}

article.post ul, article.post ol {
    display: block;
    list-style-position: inside;
    padding: 0 em(40);
}

article.post ul {
    list-style-type: disc;
}

article.post ol {
    list-style-type: decimal;
}

article.post ul li, article.post ol li {
    line-height: em(24);
}

article.post h2 {
    font-size: em(22.4);
    margin-top: em(16);
}

article.post a, article.post a:visited {
    text-decoration: none;
    font-weight: 500;
    color: $hex-orange;
    text-shadow: 0 0 em(.63) $hex-black;
}



.post-aside {
    //font-size: 124%;
    background-color: $hex-light-gray;
    //padding: em(16);
    //border: em(3.2) solid black;
    border-radius: em(5);
    //margin-top: 0;
    box-shadow: 0 0 em(5) $hex-black, inset 0 0 em(5) $hex-black;
}




p.post-meta {
    margin-top: em(6.4);
    font-size: 85%;
    color: $hex-darkest-gray;
}

article.post img {
    max-width: 100%;
    display: block;
    height: auto;
    box-shadow: 0 0 em(5) $hex-black, inset 0 0 em(5) $hex-black;
}