footer, .page-container:after {
    height: em(200);
}

footer {
    background-color: $hex-orange;
	overflow: hidden;
	border-top: em(5) solid $hex-light-gray;
    box-shadow: 0 em(.496) em(.992) $hex-dark-gray,
				0 em(.496) em(.992) $hex-dark-gray;

    a,
    a:visited {
        @extend .white-link-style;
    }

    p {
        @extend .white-link-style;
    }
}

.column-wrap {
    width: 95%;
    margin: 0 auto;
}

.search #searchsubmit, .login button {
    background-color: $hex-light-gray;
    color: $hex-black;
    padding: em(6) em(16.8);
    text-transform: lowercase;
    border: none;
    vertical-align: top;
}

.active-user {
    @extend .white-link-style;
}

.search label {
    display: none;
}

.search #s {
    vertical-align: top;
    padding: em(3.792) 0;
}