footer, .page-container:after {
    //height: 18.75em;
    height: 200px;
}

footer {
    background-color: $hex-orange;
	overflow: hidden;
	border-top: .312em solid $hex-light-gray;
    box-shadow: 0 .031em .062em $hex-dark-gray,
				0 .031em .062em $hex-dark-gray; /* .5px = .03125em */

    a,
    a:visited {
        @extend .white-link-style;
    }

    p {
        @extend .white-link-style;
    }
}

.column-wrap {
    width: 95%;
    margin: 0 auto;
}

.search #searchsubmit, .login button {
    background-color: $hex-light-gray;
    color: $hex-black;
    padding: .375em 1.05em;
    text-transform: lowercase;
    border: none;
    vertical-align: top;
}

.active-user {
    @extend .white-link-style;
}

.search label {
    display: none;
}

.search #s {
    vertical-align: top;
    padding: .237em 0;
}