body {
    display: block;
	background-color: #fff;
	font-family: $font-name, serif;
    font-size: em(16);
    /* Warning: Don't change font-size from 16px/1em! All other EM units are partially derived from this value. */
}

h1 {
	display: block;
    font-size: em(28.8);
    color: $hex-abbey;
    font-weight: 500;
}

h2 {
    display: block;
}

p {
	display: block;
    margin: em(16) 0;
    line-height: em(24);
	color: $hex-black;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote {
    font-family: Georgia, serif;
    font-size: em(18);
	font-style: italic;
    max-width: em(450);
    margin: em(4) 0;
	padding: em(4) em(40);
	line-height: 1.45;
	position: relative;
	color: $hex-darkest-gray;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: em(80);
	position: absolute;
    left: em(-1.792);
	top: em(-1.792);
	color: $hex-darkest-gray;
}

input::-moz-focus-inner { 
	border: 0; 
	padding: 0;
    margin-top: em(-2);
    margin-bottom: em(-2);
}