header {
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
	overflow: hidden;
	z-index: 2;
    border-bottom: em(5) solid $hex-light-gray;
    box-shadow: 0 em(.992) em(.992) $hex-dark-gray,
				0 em(-.992) em(.992) $hex-dark-gray;

    &:before, &:after {
        content: "";
        display: block;
        background-color: $hex-orange;
        box-shadow: 0 0 0 em(.992) $hex-orange;
    }
}

.primary-nav {
    display: table;
    width: 100%;
}

.primary-nav-l, .primary-nav-r {
	text-align: center;
	vertical-align: middle;
	background-color: $hex-orange;

    li {
        letter-spacing: em(2.4);
    }

    a,
    a:visited {
        @extend .white-link-style;
    }
    
    li.current-menu-item a {
        opacity: 1;
        font-weight: 600;
        color: $hex-white;
        text-transform: uppercase;
        font-size: 81%;
    }
}

.primary-nav-logo {
    box-shadow: inset 0 0 em(2.992) em(.992) $hex-black;
    overflow: hidden;

    img {
        display: block;
        margin: 0 auto;
        padding: 0 em(16);
        @include transition('all 250ms linear');
    }
}

.trigger-logo {
    @include transition('all 250ms linear');
}

div.primary-nav-l.scroll-text, div.primary-nav-r.scroll-text {
    font-size: em(15.2);
}

.m-active {
    display: none;
}