@media only screen and (min-width: em(200)) { /* Custom, iPhone Retina: 200px = 12.5em */

    /*----> GLOBAL <----*/

    body {
        margin: em(66.992) 0 0;
    }
    h1.shrink {
        font-size: em(19.2);
        text-align: left;
        margin-top: em(5);
        @include transition('all 250ms linear');
    }

    /*----> HEADER <----*/

    header {

        &:before, &:after {
            padding: em(6) 0;
        }
    }
    .primary-nav {
        position: relative;
    }
    .inner-l, .inner-r {
        position: absolute;
        display: block;
        top: 0;
        width: 18%;
        height: em(50);
        background-color: $hex-orange;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            box-shadow: 0 0 em(2.992) em(.992) $hex-black;
        }
    }
    .inner-l {
        left: 0;
    }
    .inner-r {
        right: 0;
    }
    .primary-nav-l {
        display: block;
        width: 100%;

        li {
            display: block;
            padding: em(5) 0;
        }
    }
    .primary-nav-r {
        display: block;
        width: 100%;

        li {
            display: block;
            padding: em(5) 0;
        }
    }
    .primary-nav-logo {
        display: block;
        width: 100%;

        img {
            display: block;
            max-height: em(38);
        }
    }
    #nav-toggle.trigger-menu {
        display: block;
        position: absolute;
        top: em(5.488);
        right: 17%;
        width: em(30);
        height: em(26.992);
        cursor: pointer;
    }
    #nav-toggle.trigger-menu.scroll-nav {
        top: em(2.912);
        @include transition('all 250ms linear');
    }
    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        content: '';
        display: block;
        position: absolute;
        top: em(12);
        width: em(22);
        height: em(2.992);
        background: $hex-light-gray;
        border-radius: em(.992);
        box-shadow: 0 0 em(.688) em(.688) $hex-dark-gray;
        cursor: pointer;
        left: em(4);
    }
    #nav-toggle span:before {
        top: em(-7);
        left: 0;
    }
    #nav-toggle span:after {
        top: em(7);
        left: 0;
    }
    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        @include transition('all 250ms ease-in-out');
    }
    #nav-toggle.navicon span {
        background-color: transparent;
        box-shadow: none;
        left: em(4);
    }
    #nav-toggle.navicon span:before, #nav-toggle.navicon span:after {
        top: 0;
    }
    #nav-toggle.navicon span:before {
        @include transform('rotate(45deg)');
    }
    #nav-toggle.navicon span:after {
        @include transform('rotate(-45deg)');
    }
    img.trigger-logo.scroll-logo {
        max-height: em(32.848);
    }

    /*----> GRID <----*/

    .grid-container {
        padding: em(27.488) 0;
    }

    /*----> BLOG <----*/

    h1, article.post h2, p.post-meta {
        text-align: center;
    }
    article.post img {
        margin: em(16) auto;
    }
    .has-thumbnail {
        padding: 0;
    }
    .post-thumbnail {
        display: block;
    }
    
    /*----> FOOTER <----*/
}

@media only screen and (min-width: em(480)) { /* Extra Small Devices, Phones: 480px = 30em */

    /*----> GLOBAL <----*/

    body {
        margin: em(72) 0 0;
    }
    h1.shrink {
        margin-top: em(1.792);
        @include transition('all 250ms linear');
    }

    /*----> HEADER <----*/

    .inner-l, .inner-r {
        width: 27%;
    }
    .primary-nav-logo {

        img {
            max-height: em(43.488);
        }
    }
    #nav-toggle.trigger-menu {
        top: em(8.24);
    }
}

@media only screen and (min-width: em(768)) { /* Small Devices, Tablets: 768px = 48em */

    /*----> GLOBAL <----*/

    body {
        margin: em(84.992) 0 0;
    }

    /*----> HEADER <----*/

    header {

        &:before, &:after {
            padding: em(8) 0;
        }
    }
    .primary-nav-l {
        display: table-cell;
        width: 40%;

        ul {
            display: block;
        }
        li {
            display: inline;
            padding: 0 em(10.4);
            font-size: em(13.6);
        }
    }
    .primary-nav-r {
        display: table-cell;
        width: 40%;

        ul {
            display: block;
        }
        li {
            display: inline;
            padding: 0 em(10.4);
            font-size: em(13.6);
        }
    }
    #nav-toggle.trigger-menu, #nav-toggle.navicon,
    .inner-l, .inner-r {
        display: none;
    }
    .primary-nav-logo {
        display: table-cell;
        width: 20%;

        img {
            max-height: em(48.496);
        }
    }
    img.trigger-logo.scroll-logo {
        max-height: em(43.696);
    }

    /*----> GRID <----*/

    .grid-container {
        padding: em(33.744) 0;
    }

    /*----> BLOG <----*/

    h1, article.post h2, p.post-meta {
        text-align: left;
    }
    article.post img {
        margin: 0;
    }
    .has-thumbnail {
        position: relative;
        padding-left: em(214.992);
    }
    .post-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
    }

    /*----> FOOTER <----*/
}

@media only screen and (min-width: em(992)) { /* Medium Devices, Desktops: 992px = 62em */

    /*----> GLOBAL <----*/

    body {
        margin: em(90.992) 0 0;
    }

    /*----> HEADER <----*/

    .primary-nav-l, .primary-nav-r {

        ul li {
            padding: 0 em(17.6);
            font-size: em(16);
        }
    }
    .primary-nav-logo {

        img {
            max-height: em(54);
        }
    }

    /*----> GRID <----*/

    .grid-container {
        padding: em(44.992) 0;
    }
}

// @media only screen and (min-width: em(1200)) { /* Large Devices, Wide Screens: 1200px = 75em */

// }