@media only screen and (min-width: 12.5em) { /* Custom, iPhone Retina: 200px = 12.5em */

    /*----> GLOBAL <----*/

    body {
        margin: 4.187em 0 0; /* 67px = 4.1875em */
    }
    h1.shrink {
        font-size: 1.2em;
        text-align: left;
        margin-top: .312em; /* 5px = .3125em */
        @include transition('all 250ms linear');
    }

    /*----> HEADER <----*/

    header {

        &:before, &:after {
            padding: .375em 0;
        }
    }
    .primary-nav {
        position: relative;
    }
    .inner-l, .inner-r {
        position: absolute;
        display: block;
        top: 0;
        width: 18%;
        height: 3.125em; /* 50px = 3.125em */
        background-color: $hex-orange;

        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            box-shadow: 0 0 .187em .062em $hex-black; /* 3px = .1875em */
        }
    }
    .inner-l {
        left: 0;
    }
    .inner-r {
        right: 0;
    }
    .primary-nav-l {
        display: block;
        width: 100%;

        li {
            display: block;
            padding: .312em 0;
        }
    }
    .primary-nav-r {
        display: block;
        width: 100%;

        li {
            display: block;
            padding: .312em 0;
        }
    }
    .primary-nav-logo {
        display: block;
        width: 100%;

        img {
            display: block;
            max-height: 2.375em; /* 38px = 2.375em */
        }
    }
    #nav-toggle.trigger-menu {
        display: block;
        position: absolute;
        top: .343em; /* 5.5px = .343em */
        right: 17%;
        width: 1.875em; /* 30px = 1.875em */
        height: 1.687em; /* 27px = 1.687em */
        cursor: pointer;
    }
    #nav-toggle.trigger-menu.scroll-nav {
        top: .182em; /* 2.921px = .182em */
        @include transition('all 250ms linear');
    }
    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        content: '';
        display: block;
        position: absolute;
        top: .75em; /* 12px = .75em */
        width: 1.375em; /* 22px = 1.375em */
        height: .187em;
        background: $hex-light-gray;
        border-radius: .062em;
        box-shadow: 0 0 .043em .043em $hex-dark-gray; /* .7px = .043em */
        cursor: pointer;
        left: .25em; /* 4px = .25em */
    }
    #nav-toggle span:before {
        top: -.4375em; /* -7px = -.4375em */
        left: 0;
    }
    #nav-toggle span:after {
        top: .4375em;
        left: 0;
    }
    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        @include transition('all 250ms ease-in-out');
    }
    #nav-toggle.navicon span {
        background-color: transparent;
        box-shadow: none;
        left: .25em;
    }
    #nav-toggle.navicon span:before, #nav-toggle.navicon span:after {
        top: 0;
    }
    #nav-toggle.navicon span:before {
        @include transform('rotate(45deg)');
    }
    #nav-toggle.navicon span:after {
        @include transform('rotate(-45deg)');
    }
    img.trigger-logo.scroll-logo {
        max-height: 2.053em; /* 32.85px = 2.053125em */
    }

    /*----> GRID <----*/

    .grid-container {
        padding: 1.718em 0;
    }

    /*----> BLOG <----*/

    h1, article.post h2, p.post-meta {
        text-align: center;
    }
    article.post img {
        margin: 1em auto;
    }
    .has-thumbnail {
        padding: 0;
    }
    .post-thumbnail {
        display: block;
    }

    h1.shrink {
        font-size: 1.2em;
        text-align: left;
        margin-top: .312em; /* 5px = .3125em */
        @include transition('all 250ms linear');
    }

    /*----> FOOTER <----*/

    .search, .copyright, .login {
        display: block;
        padding: .75em 0;
        text-align: center;
    }
    .copyright {

        p {
            margin: 0;
            font-size: 78%;
        }
    }
}

@media only screen and (min-width: 30em) { /* Extra Small Devices, Phones: 480px = 30em */

    /*----> GLOBAL <----*/

    body {
        margin: 4.5em 0 0; /* 72px = 4.5em */
    }
    h1.shrink {
        font-size: 1.2em;
        margin-top: .112em;
        @include transition('all 250ms linear');
    }

    /*----> HEADER <----*/

    .inner-l, .inner-r {
        width: 27%;
    }
    .primary-nav-logo {

        img {
            max-height: 2.718em; /* 43.5px = 2.71875em */
        }
    }
    #nav-toggle.trigger-menu {
        top: .515em; /* 8.242px = .515em */
    }
}

@media only screen and (min-width: 48em) { /* Small Devices, Tablets: 768px = 48em */

    /*----> GLOBAL <----*/

    body {
        margin: 5.312em 0 0; /* 85px = 5.3125em */
    }

    /*----> HEADER <----*/

    header {

        &:before, &:after {
            padding: .5em 0;
        }
    }
    .primary-nav-l {
        display: table-cell;
        width: 40%;

        ul {
            display: block;
        }
        li {
            display: inline;
            padding: 0 .65em;
            font-size: .85em;
        }
    }
    .primary-nav-r {
        display: table-cell;
        width: 40%;

        ul {
            display: block;
        }
        li {
            display: inline;
            padding: 0 .65em;
            font-size: .85em;
        }
    }
    #nav-toggle.trigger-menu, #nav-toggle.navicon,
    .inner-l, .inner-r {
        display: none;
    }
    .primary-nav-logo {
        display: table-cell;
        width: 20%;

        img {
            max-height: 3.031em; /* 48.5px = 3.03125em */
        }
    }
    img.trigger-logo.scroll-logo {
        max-height: 2.731em; /* 43.7px = 2.73125em */
    }

    /*----> GRID <----*/

    .grid-container {
        padding: 2.109em 0;
    }

    /*----> BLOG <----*/

    h1, article.post h2, p.post-meta {
        text-align: left;
    }
    article.post img {
        margin: 0;
    }
    .has-thumbnail {
        position: relative;
        padding-left: 13.437em; /* 215px = 13.437em  */
    }
    .post-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
    }

    /*----> FOOTER <----*/

    .search, .login {
        display: inline-block;
        //width: 50%;
        width: 33.33%;
        padding: 1em 0;
    }
    .login {
        float: left;
        //text-align: left;
    }
    .search {
        float: right;
        //text-align: right;
    }
}

@media only screen and (min-width: 62em) { /* Medium Devices, Desktops: 992px = 62em */

    /*----> GLOBAL <----*/

    body {
        margin: 5.687em 0 0; /* 91px = 5.6875em */
    }

    /*----> HEADER <----*/

    .primary-nav-l, .primary-nav-r {

        ul li {
            padding: 0 1.1em;
            font-size: 1em;
        }
    }
    .primary-nav-logo {

        img {
            max-height: 3.375em; /* 54px = 3.375em */
        }
    }

    /*----> GRID <----*/

    .grid-container {
        padding: 2.812em 0;
    }
}

// @media only screen and (min-width: 75em) { /* Large Devices, Wide Screens: 1200px = 75em */

// }