.page-container {
	min-height: 100%;
    margin-bottom: em(-200);

    &:after {
        content: "";
        display: block;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.white-link-style {
    text-decoration: none;
    text-transform: lowercase;
    color: $hex-white;
    font-weight: 400;
    text-shadow: 0 0 em(2) $hex-black;
}