// css transition prefixes
@mixin transition($str) {
    -webkit-transition: #{$str};
    transition: #{$str};
}

// css transform prefixes
@mixin transform($str) {
    -webkit-transform: #{$str};
    -ms-transform: #{$str};
    transform: #{$str};
}