// fonts
$font-name: 'Della Respira';

// colors
$hex-black: #2b2527;
$hex-light-gray: #bfbfbf;
$hex-dark-gray: #737373;
$hex-darkest-gray: #5B5B5B;
$hex-orange: #f16745;
$hex-white: #fff;
$hex-abbey: #222;